<div class="container mt-4 align-items-center text-center">
    <h1>¿Olvidaste tu contraseña?</h1>
    <form method="post" action="/api/session/forgotPassword">
        <div class="row m-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email" autofocus required>
                    <label for="email">Email</label>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <input type="submit" class="btn btn-primary m-3">
            <button type="reset" class="btn btn-danger m-3">Limpiar <i class="bi bi-backspace"></i></button>
        </div>
    </form>
    <p>¿No tienes cuenta? <a href="/register">Registrate</a></p>
    <p>¿Ya tienes cuenta? <a href="/login">Iniciar Sesión</a></p>
</div>