<div class="container mt-4 text-center">
    <h1>Listado de Productos</h1>
    <div class="row">
        {{#each products}}
            {{> card this}}
        {{/each}}
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>