<div class="container mt-5 text-center">
    {{#if user}}
        {{> nav}}
    {{/if}}
    <h1>Perfil de Usuario (sin datos sensibles)</h1>
    <p>Nombres: {{user.first_name}} {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <a class="btn btn-primary" href="/api/session/logout">Salir</a>
</div>