<div class="container mt-4 text-center">
    <h1>Registro de Usuario</h1>
    <form id="registerForm">
        <div class="row m-2">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="first_name" placeholder="Nombre" name="first_name" required autofocus>
                    <label for="first_name">Nombre</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="last_name" placeholder="Apellido" name="last_name" required>
                    <label for="last_name">Apellido</label>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="number" class="form-control" id="age" placeholder="Edad" name="age" required>
                    <label for="age">Edad</label>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" placeholder="Contraseña" name="password" required>
                    <label for="password">Contraseña</label>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <input type="submit" class="btn btn-primary m-3">
            <button type="reset" class="btn btn-danger m-3">Limpiar <i class="bi bi-backspace"></i></button>
        </div>
    </form>
    <p>¿Ya tienes cuenta? <a href="/login">Iniciar Sesion</a></p>
</div>
<script src="/js/register.js"></script>