<div class="container mt-4 text-center">
    <h1>Restaurar Contraseña</h1>
    <form id="resetPasswordForm">
        <div class="row m-2">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email" autofocus required>
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" placeholder="Contraseña" name="password" required>
                    <label for="password">Nueva Contraseña</label>
                </div>
            </div>
        </div>
        <div class="row m-2 align-items-center">
            <input type="submit" class="btn btn-primary m-3">
            <button type="reset" class="btn btn-danger m-3">Limpiar <i class="bi bi-backspace"></i></button>
        </div>
    </form>
</div>
<script src="/js/resetPassword.js"></script>