<div class="container">
    <h2 class="mb-4">Añadir Producto</h2>

    <form id="addProductForm">
        <div class="row m-2">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="title" placeholder="Título" name="title" required autofocus>
                    <label for="title">Título</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Descripción" id="description" name="description" rows="3" required></input>
                    <label for="description">Descripción</label>
                </div>
            </div>
        </div>

        <div class="row m-2">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="number" class="form-control" placeholder="Precio" id="price" name="price" min="0" step="10" required>
                    <label for="price">Precio</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Categoría" id="category" name="category" required>
                    <label for="category">Categoría</label>
                </div>
            </div>
        </div>

        <div class="row m-2">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Code" id="code" name="code" required>
                    <label for="code">Code</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="number" class="form-control" placeholder="Stock" id="stock" name="stock" min="0" required>
                    <label for="stock">Stock</label>
                </div>
            </div>
        </div>

        <!--<div class="row m-2">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                </div>
            </div>
        </div>-->

        <button type="submit" class="btn btn-outline-primary m-3">Añadir Producto</button>
    </form>
</div>
