<div class="container">
    <h2 class="mb-4">Añadir Producto</h2>

    <form id="addProductForm">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="title">Título</label>
                    <input type="text" class="form-control" id="title" name="title" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="description">Descripción</label>
                    <input type="text" class="form-control" id="description" name="description" rows="3" required></input>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="price">Precio</label>
                    <input type="number" class="form-control" id="price" name="price" min="0" step="10" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="category">Categoría</label>
                    <input type="text" class="form-control" id="category" name="category" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="code">Code</label>
                    <input type="text" class="form-control" id="code" name="code" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="stock">Stock</label>
                    <input type="number" class="form-control" id="stock" name="stock" min="0" required>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary m-3">Añadir Producto</button>
    </form>
</div>
