<header>
    <nav class="navbar navbar-expand-md bg-body-tertiary fixed-top">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">Hola <a href="/">{{user.first_name}} {{user.last_name}}</a> ({{user.role}})</li>
            </ul>
            <a class="btn btn-outline-primary" href="/api/session/logout">Salir</a>
        </div>
    </nav>
</header>